.calendar_border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42rem;
    height: 32rem;
    border-radius: .8rem;
    background-image: linear-gradient(135deg, #d8e5f0 8.33%, #544d64 8.33%, #544d64 50%, #d8e5f0 50%, #d8e5f0 58.33%, #544d64 58.33%, #544d64 100%);
    background-size: 16.97px 16.97px;
    box-shadow: #544d64 0px 3px 8px 1px;
}

.calendar_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #71658b;
    width: 40rem;
    height: 30rem;
    border-radius: 1rem;
    box-shadow: inset .3rem .3rem .4rem #544d64, inset -.3rem -.3rem .4rem #544d64;
}

.calendar_container .dates {

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    place-items: center;
    width: 38rem;
    height: 25rem;
    background-color: #71658b;
    border-radius: 1rem;
}

.calendar_container .activity_info--container {
    display: flex;
    flex-direction: column;
}

.calendar_container .activity_info--container .activity_info {
    display: flex;
    flex-direction: column;
}

.calendar_container .activity_info--container .activity_info p {
    margin: .8rem 0;
}

.calendar_container .activity_info--container .activity_info article {
        width: 18rem;
        height: 8rem;
        background-color: #FFFFFF;
        border-radius: .1rem;
        
}

.calendar_container .activity_info--container .activity_info article p {
    margin: .5rem;
    font-size: 1rem;
    color: #020202;
}

.calendar_container .new_button {
    width: 8rem;
    height: 2rem;
    margin-top: 2rem;
    font-weight: 600;
}

h2 {
    margin: 0;
    color: #d8e5f0;
}

