.activity_form {
    display: flex;
    flex-direction: column;
}

.activity_form .time_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 8rem;
}

.activity_form .start_time, .end_time {
    display: flex;
}

.activity_form .input_time {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
}

.activity_form label {
    font-size: 1.2rem;
    font-weight: 600;
    color: #FFFFFF;
}

.activity_form input {
    min-height: 1.5rem;
    outline: none;
}

.activity_form textarea {
    width: 18rem;
    height: 8rem;
    resize: none;
    outline: none;
}