.calendar_date--container {

    width: 4.5rem;
    height: 4.5rem;
    border-radius: .4rem;
    background-color: #a696c9;

}

.calendar_date--today {

    width: 4.5rem;
    height: 4.5rem;
    border-radius: .4rem;
    background-color: #9172ff;

}

.calendar_date--today:hover {

    background-color: #b796ff;

}

.calendar_date--container:hover {
    background-color: #b6a9cf;
}

p {
    color: #d8e5f0;
    font-size: 1.5rem;
    font-weight: 600;
    margin: .5rem 0 0 .5rem;
}