.calendar_date--container {

    width: 4.5rem;
    height: 4.5rem;
    border-radius: .4rem;
    background-color: #a696c9;

}

.calendar_date--today {

    width: 4.5rem;
    height: 4.5rem;
    border-radius: .4rem;
    background-color: #9172ff;

}

.calendar_date--activity {

    width: 4.5rem;
    height: 4.5rem;
    border-radius: .4rem;
    background-color: rgb(7, 150, 95);

}

.calendar_date--today:hover {

    background-color: #b796ff;
    cursor: pointer;

}

.calendar_date--container:hover {
    background-color: #b6a9cf;
    cursor: pointer;
}

.calendar_date--activity:hover {
    background-color: rgb(74, 190, 123);
    cursor: pointer;
}

.calendar_date--activity p, .calendar_date--container p, .calendar_date--today p {
    color: #d8e5f0;
    font-size: 1.5rem;
    font-weight: 600;
    margin: .5rem 0 0 .5rem;
}

.calendar_date--activity .calendar_string--today, .calendar_date--today .calendar_string--today {
    font-size: 2.5rem;
    margin: 0.2rem 0 0 1.5rem;
}

.calendar_date--activity .calendar_today--text, .calendar_date--today .calendar_today--text {
    font-size: 1rem;
    margin: 0;
    margin-left: .85rem;
}
